{%- assign show_image = false -%}

{%- if section.settings.show_collection_image and collection.image or section.settings.image -%}
  {%- assign show_image = true -%}
{%- endif -%}

{%- capture collection_header -%}
  {%- if section.settings.show_collection_title -%}
    <h1 class="{{ section.settings.collection_title_size }}" {% if settings.heading_apparition != 'none' and show_image %}reveal-on-scroll="true"{% endif %}>
      {%- render 'styled-text', content: collection.title, apparition_effect: true -%}
    </h1>
  {%- endif -%}

  {%- if section.settings.show_collection_description and collection.description != blank -%}
    <div class="prose">
      {{- collection.description -}}
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- if show_image -%}
  <style>
    #shopify-section-{{ section.id }} {
      {%- if section.settings.full_width -%}
        --section-outer-spacing-block: 0;
      {%- else -%}
        --section-spacing-block-end: 0;
      {%- endif -%}

      --content-over-media-overlay: {{ section.settings.overlay_color.rgb }} / {{ section.settings.overlay_opacity | divided_by: 100.0 }};

      {%- if section.settings.allow_transparent_header -%}
        margin-block-start: calc(-1 * var(--header-height) * var(--section-is-first));
      {%- endif -%}
    }

    {%- unless section.settings.full_width -%}
      .shopify-section:first-child .section[allow-transparent-header] {
        padding-block-start: max(var(--section-inner-max-spacing-block), var(--header-height));
      }
    {%- endunless -%}
  </style>

  <div
    {% render 'section-properties' %}
    {%- if section.settings.allow_transparent_header -%}
      allow-transparent-header
    {% endif %}
  >
    {%- capture class -%}collection-banner content-over-media content-over-media--{{ section.settings.image_size }} {% if section.settings.full_width %}full-bleed{% else %}shadow-block rounded-lg{% endif %}{%- endcapture -%}

    <image-banner
      reveal-on-scroll="true"
      {% if section.settings.enable_parallax %}
        parallax="0.3"
      {% endif %}
      {% render 'surface', class: class, text_color: section.settings.text_color %}
    >
      {%- assign desktop_image = section.settings.image | default: collection.image -%}
      {%- assign mobile_image = section.settings.mobile_image
        | default: section.settings.image
        | default: collection.image
      -%}
      {%- capture default_size -%}{% if section.settings.enable_parallax %}130vw{% else %}100vw{% endif %}{%- endcapture -%}
      {%- capture sizes -%}{% if section.settings.full_width %}{{ default_size }}{% else %}(max-width: 740px) calc({{ default_size }} - 40px), (max-width: 999px) calc({{ default_size }} - 64px), min({{ settings.page_width | times: 1.3 }}px, {{ default_size }} - 96px){% endif %}{%- endcapture -%}

      {%- if desktop_image == mobile_image -%}
        {{-
          desktop_image
          | image_url: width: desktop_image.width
          | image_tag:
            fetchpriority: 'high',
            sizes: sizes,
            widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200'
        -}}
      {%- else -%}
        {{-
          desktop_image
          | image_url: width: desktop_image.width
          | image_tag:
            fetchpriority: 'high',
            sizes: sizes,
            widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
            class: 'hidden sm:block'
        -}}
        {{-
          mobile_image
          | image_url: width: mobile_image.width
          | image_tag:
            fetchpriority: 'high',
            sizes: sizes,
            widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600',
            class: 'sm:hidden'
        -}}
      {%- endif -%}

      {%- if collection_header != blank -%}
        <div class="{{ section.settings.mobile_text_position }} {{ section.settings.desktop_text_position }}">
          <div class="v-stack gap-4 sm:gap-6">
            {{- collection_header -}}
          </div>
        </div>
      {%- endif -%}

      {%- if section.settings.featured_product != blank -%}
        {%- if section.settings.desktop_text_position contains 'center-end'
          or section.settings.desktop_text_position contains 'start-end'
        -%}
          {%- assign featured_product_position = 'place-self-end-start' -%}
        {%- else -%}
          {%- assign featured_product_position = 'place-self-end' -%}
        {%- endif -%}

        <div class="{{ featured_product_position }} hidden md:block">
          <div class="collection-featured-product">
            {%- if section.settings.featured_product_heading != blank -%}
              <p class="collection-featured-product__title text-xs bold">
                {{ section.settings.featured_product_heading | escape }}
              </p>
            {%- endif -%}

            <a href="{{ section.settings.featured_product.url }}" class="collection-featured-product__content">
              {%- render 'horizontal-product',
                product: section.settings.featured_product,
                size: 'sm',
                output_link: false
              -%}
            </a>
          </div>
        </div>
      {%- endif -%}
    </image-banner>
  </div>
{%- else -%}
  {%- if collection_header != blank -%}
    <div class="collection-header">
      <div class="container">
        <div class="v-stack gap-4 sm:gap-6">
          {{- collection_header -}}
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "Banner de Coleção",
  "class": "shopify-section--collection-banner",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Largura total",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "allow_transparent_header",
      "label": "Permitir cabeçalho transparente",
      "info": "Esta configuração só se aplica quando esta seção é a primeira.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "Ativar efeito parallax",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "Mostrar título da coleção",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "label": "Mostrar descrição da coleção",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Mostrar imagem da coleção",
      "info": "[Saiba mais](https://help.shopify.com/en/manual/products/collections/collection-layout#add-or-change-the-featured-image-for-a-collection) sobre adicionar ou editar uma imagem de coleção.",
      "default": true
    },
    {
      "type": "select",
      "id": "collection_title_size",
      "label": "Tamanho do título da coleção",
      "options": [
        {
          "value": "h0",
          "label": "Hero"
        },
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h0"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Tamanho da imagem",
      "options": [
        {
          "value": "auto",
          "label": "Proporção original da imagem"
        },
        {
          "value": "sm",
          "label": "Pequena"
        },
        {
          "value": "md",
          "label": "Média"
        },
        {
          "value": "lg",
          "label": "Grande"
        }
      ],
      "info": "Escolha \"Proporção original da imagem\" para evitar o recorte da imagem. [Saiba mais](https://help.shopify.com/en/manual/online-store/images/theme-images#best-practices-for-slideshows-and-full-widtw-images)",
      "default": "auto"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagem",
      "info": "Recomendado 3200 x 1600px em .jpg. Padrão para imagem da coleção."
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Imagem mobile",
      "info": "Recomendado 1300 x 1500px em .jpg. Padrão para imagem de desktop."
    },
    {
      "type": "select",
      "id": "mobile_text_position",
      "label": "Posição do conteúdo mobile",
      "options": [
        {
          "value": "place-self-start text-start",
          "label": "Superior esquerdo"
        },
        {
          "value": "place-self-start-center text-center",
          "label": "Superior centro"
        },
        {
          "value": "place-self-start-end text-end",
          "label": "Superior direito"
        },
        {
          "value": "place-self-center-start text-start",
          "label": "Centro esquerdo"
        },
        {
          "value": "place-self-center text-center",
          "label": "Centro"
        },
        {
          "value": "place-self-center-end text-end",
          "label": "Centro direito"
        },
        {
          "value": "place-self-end-start text-start",
          "label": "Inferior esquerdo"
        },
        {
          "value": "place-self-end-center text-center",
          "label": "Inferior centro"
        },
        {
          "value": "place-self-end text-end",
          "label": "Inferior direito"
        }
      ],
      "default": "place-self-center text-center"
    },
    {
      "type": "select",
      "id": "desktop_text_position",
      "label": "Posição do conteúdo desktop",
      "options": [
        {
          "value": "sm:place-self-start sm:text-start",
          "label": "Superior esquerdo"
        },
        {
          "value": "sm:place-self-start-center sm:text-center",
          "label": "Superior centro"
        },
        {
          "value": "sm:place-self-start-end sm:text-end",
          "label": "Superior direito"
        },
        {
          "value": "sm:place-self-center-start sm:text-start",
          "label": "Centro esquerdo"
        },
        {
          "value": "sm:place-self-center sm:text-center",
          "label": "Centro"
        },
        {
          "value": "sm:place-self-center-end sm:text-end",
          "label": "Centro direito"
        }
      ],
      "default": "sm:place-self-center sm:text-center"
    },
    {
      "type": "header",
      "content": "Produto em destaque",
      "info": "Este produto não será mostrado em telas pequenas ou em coleções que não mostram imagem."
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": "Produto"
    },
    {
      "type": "text",
      "id": "featured_product_heading",
      "label": "Título",
      "default": "Produto em destaque"
    },
    {
      "type": "header",
      "content": "Cores",
      "info": "Ignorado quando nenhuma imagem é usada."
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Texto",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Sobreposição",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Opacidade da sobreposição",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 30
    }
  ]
}
{% endschema %}
