{%- render 'section-spacing-collapsing' -%}

<style>
  #shopify-section-{{ section.id }} {
    --images-scrolling-block-count: {{ section.blocks.size }};
    --images-scrolling-image-ratio: {{ section.blocks.first.settings.image.aspect_ratio | default: 1 }};
  }

  @media screen and (max-width: 740px) {
    #shopify-section-{{ section.id }} {
      --images-scrolling-grid: {% if section.settings.stack_on_mobile %}none{% else %}auto / auto-flow 73vw{% endif %};
    }
  }

  @media screen and (min-width: 741px) {
    #shopify-section-{{ section.id }} {
      --images-scrolling-grid-template-columns: {% if section.settings.image_position == 'start' %}[media] minmax(0, 1fr) [content] minmax(0, 0.8fr){% else %}[content] minmax(0, 0.8fr) [media] minmax(0, 1fr){% endif %};
    }
  }
</style>

<div {% render 'section-properties', narrow: true %}>
  {%- comment -%}
    ----------------------------------------------------------------------------------------------------------------------
    MOBILE VARIATION
    ----------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}
  <images-with-text-scrolling class="images-scrolling-mobile scroll-area bleed sm:unbleed">
    {%- for block in section.blocks -%}
      <div class="images-scrolling-mobile__item snap-start" {{ block.shopify_attributes }}>
        {%- if block.settings.image != blank -%}
          {{-
            block.settings.image
            | image_url: width: block.settings.image.width
            | image_tag:
              loading: 'lazy',
              sizes: '(max-width: 740px) 100vw, 650px',
              widths: '200,300,400,600,800,1000,1200,1400,1600',
              class: 'rounded-sm'
          -}}
        {%- else -%}
          {%- capture image_placeholder -%}product-{%- cycle '1', '2', '3', '4' -%}{%- endcapture -%}
          {{- image_placeholder | placeholder_svg_tag: 'placeholder' -}}
        {%- endif -%}

        <div class="images-scrolling__content">
          {%- if section.settings.show_counter -%}
            <span class="images-scrolling__counter bold">{{ forloop.index | prepend: '00' | slice: -2, 2 }}</span>
          {%- endif -%}

          <div class="prose" style="--images-scrolling-item-icon-width: {{ block.settings.icon_width }}px">
            {%- if block.settings.custom_icon != blank -%}
              {%- capture sizes -%}{{ block.settings.icon_width }}px{%- endcapture -%}
              {%- capture widths -%}{{ block.settings.icon_width }}, {{ block.settings.icon_width | times: 2 | at_most: block.settings.custom_icon.width }}{%- endcapture -%}
              {{-
                block.settings.custom_icon
                | image_url: width: block.settings.custom_icon.width
                | image_tag: loading: 'lazy', sizes: sizes, widths: widths, class: 'images-scrolling__icon'
              -}}
            {%- elsif block.settings.icon != 'none' -%}
              {%- render 'icon' with block.settings.icon,
                width: block.settings.icon_width,
                height: block.settings.icon_width,
                class: 'images-scrolling__icon'
              -%}
            {%- endif -%}

            {%- if block.settings.title != blank -%}
              <p
                class="h1"
                {% if settings.heading_apparition != 'none' %}
                  reveal-on-scroll="true"
                {% endif %}
              >
                {%- render 'styled-text', content: block.settings.title, apparition_effect: true -%}
              </p>
            {%- endif -%}

            {{- block.settings.content -}}
          </div>
        </div>
      </div>
    {%- endfor -%}
  </images-with-text-scrolling>

  {%- comment -%}
    ----------------------------------------------------------------------------------------------------------------------
    DESKTOP VARIATION
    ----------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}
  <images-with-text-scrolling
    scrolling-experience="{{ section.settings.desktop_image_effect }}"
    class="images-scrolling-desktop"
  >
    <div class="images-scrolling-desktop__content-list">
      {%- for block in section.blocks -%}
        <div class="images-scrolling__content {% unless forloop.first %}opacity-0{% endunless %}">
          {%- if section.settings.show_counter -%}
            <span class="images-scrolling__counter bold">{{ forloop.index | prepend: '00' | slice: -2, 2 }}</span>
          {%- endif -%}

          <div class="prose" style="--images-scrolling-item-icon-width: {{ block.settings.icon_width }}px">
            {%- if block.settings.custom_icon != blank -%}
              {%- capture sizes -%}{{ block.settings.icon_width }}px{%- endcapture -%}
              {%- capture widths -%}{{ block.settings.icon_width }}, {{ block.settings.icon_width | times: 2 | at_most: block.settings.custom_icon.width }}{%- endcapture -%}
              {{-
                block.settings.custom_icon
                | image_url: width: block.settings.custom_icon.width
                | image_tag: loading: 'lazy', sizes: sizes, widths: widths, class: 'images-scrolling__icon'
              -}}
            {%- elsif block.settings.icon != 'none' -%}
              {%- render 'icon' with block.settings.icon,
                width: block.settings.icon_width,
                height: block.settings.icon_width,
                class: 'images-scrolling__icon'
              -%}
            {%- endif -%}

            {%- if block.settings.title != blank -%}
              <p
                class="h1"
                {% if settings.heading_apparition != 'none' %}
                  reveal-on-scroll="true"
                {% endif %}
              >
                {%- render 'styled-text',
                  content: block.settings.title,
                  text_color: section.settings.heading_color,
                  gradient: section.settings.heading_gradient,
                  apparition_effect: true
                -%}
              </p>
            {%- endif -%}

            {{- block.settings.content -}}
          </div>
        </div>
      {%- endfor -%}
    </div>

    <div class="images-scrolling-desktop__media-wrapper">
      {%- for block in section.blocks -%}
        {%- if block.settings.image != blank -%}
          {{-
            block.settings.image
            | image_url: width: block.settings.image.width
            | image_tag:
              loading: 'lazy',
              sizes: '(max-width: 740px) 100vw, 650px',
              widths: '200,300,400,600,800,1000,1200,1400,1600',
              class: 'rounded-sm'
          -}}
        {%- else -%}
          {%- capture image_placeholder -%}product-{%- cycle '1', '2', '3', '4' -%}{%- endcapture -%}
          {{- image_placeholder | placeholder_svg_tag: 'placeholder' -}}
        {%- endif -%}
      {%- endfor -%}
    </div>
  </images-with-text-scrolling>
</div>
{% schema %}
{
  "name": "Imagens e texto rolando",
  "tag": "section",
  "class": "shopify-section--images-and-text-scrolling",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "max_blocks": 15,
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Largura total",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "stack_on_mobile",
      "label": "Empilhar no celular",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_counter",
      "label": "Mostrar contador",
      "default": true
    },
    {
      "type": "select",
      "id": "desktop_image_effect",
      "label": "Transição de imagem no desktop",
      "options": [
        {
          "value": "reveal",
          "label": "Revelar"
        },
        {
          "value": "fade",
          "label": "Desvanecer"
        }
      ],
      "default": "reveal"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Posição da imagem",
      "options": [
        {
          "value": "start",
          "label": "Esquerda"
        },
        {
          "value": "end",
          "label": "Direita"
        }
      ],
      "default": "end"
    },
    {
      "type": "header",
      "content": "Cores",
      "info": "Gradiente substitui cores sólidas quando configurado."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Fundo"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Gradiente de fundo"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Texto"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Cor do cabeçalho"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Gradiente do cabeçalho"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagem",
          "info": "1200 x 1600px .jpg recomendado"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Ícone",
          "options": [
            {
              "value": "none",
              "label": "Nenhum"
            },
            {
              "value": "picto-coupon",
              "label": "Cupom",
              "group": "Shop"
            },
            {
              "value": "picto-percent",
              "label": "Porcentagem",
              "group": "Shop"
            },
            {
              "value": "picto-gift",
              "label": "Presente",
              "group": "Shop"
            },
            {
              "value": "picto-star",
              "label": "Estrela",
              "group": "Shop"
            },
            {
              "value": "picto-like",
              "label": "Curtir",
              "group": "Shop"
            },
            {
              "value": "picto-building",
              "label": "Prédio",
              "group": "Shop"
            },
            {
              "value": "picto-love",
              "label": "Amor",
              "group": "Shop"
            },
            {
              "value": "picto-award-gift",
              "label": "Prêmio",
              "group": "Shop"
            },
            {
              "value": "picto-happy",
              "label": "Feliz",
              "group": "Shop"
            },
            {
              "value": "picto-box",
              "label": "Caixa",
              "group": "Shipping"
            },
            {
              "value": "picto-pin",
              "label": "Pin",
              "group": "Shipping"
            },
            {
              "value": "picto-timer",
              "label": "Timer",
              "group": "Shipping"
            },
            {
              "value": "picto-validation",
              "label": "Validação",
              "group": "Shipping"
            },
            {
              "value": "picto-truck",
              "label": "Caminhão",
              "group": "Shipping"
            },
            {
              "value": "picto-return",
              "label": "Retorno",
              "group": "Shipping"
            },
            {
              "value": "picto-earth",
              "label": "Terra",
              "group": "Shipping"
            },
            {
              "value": "picto-plane",
              "label": "Avião",
              "group": "Shipping"
            },
            {
              "value": "picto-credit-card",
              "label": "Cartão de crédito",
              "group": "Payment & Security"
            },
            {
              "value": "picto-lock",
              "label": "Cadeado",
              "group": "Payment & Security"
            },
            {
              "value": "picto-shield",
              "label": "Escudo",
              "group": "Payment & Security"
            },
            {
              "value": "picto-secure-profile",
              "label": "Perfil seguro",
              "group": "Payment & Security"
            },
            {
              "value": "picto-money",
              "label": "Dinheiro",
              "group": "Payment & Security"
            },
            {
              "value": "picto-recycle",
              "label": "Reciclar",
              "group": "Ecology"
            },
            {
              "value": "picto-leaf",
              "label": "Folha",
              "group": "Ecology"
            },
            {
              "value": "picto-tree",
              "label": "Árvore",
              "group": "Ecology"
            },
            {
              "value": "picto-mobile-phone",
              "label": "Celular",
              "group": "Communication"
            },
            {
              "value": "picto-phone",
              "label": "Telefone",
              "group": "Communication"
            },
            {
              "value": "picto-chat",
              "label": "Chat",
              "group": "Communication"
            },
            {
              "value": "picto-customer-support",
              "label": "Suporte ao cliente",
              "group": "Communication"
            },
            {
              "value": "picto-operator",
              "label": "Operador",
              "group": "Communication"
            },
            {
              "value": "picto-mailbox",
              "label": "Caixa de correio",
              "group": "Communication"
            },
            {
              "value": "picto-envelope",
              "label": "Envelope",
              "group": "Communication"
            },
            {
              "value": "picto-comment",
              "label": "Comentário",
              "group": "Communication"
            },
            {
              "value": "picto-question",
              "label": "Pergunta",
              "group": "Communication"
            },
            {
              "value": "picto-send",
              "label": "Enviar",
              "group": "Communication"
            },
            {
              "value": "picto-at-sign",
              "label": "Arroba",
              "group": "Tech"
            },
            {
              "value": "picto-camera",
              "label": "Câmera",
              "group": "Tech"
            },
            {
              "value": "picto-wifi",
              "label": "WiFi",
              "group": "Tech"
            },
            {
              "value": "picto-bluetooth",
              "label": "Bluetooth",
              "group": "Tech"
            },
            {
              "value": "picto-printer",
              "label": "Impressora",
              "group": "Tech"
            },
            {
              "value": "picto-smart-watch",
              "label": "Relógio inteligente",
              "group": "Tech"
            },
            {
              "value": "picto-coffee",
              "label": "Café",
              "group": "Food & Drink"
            },
            {
              "value": "picto-burger",
              "label": "Hambúrguer",
              "group": "Food & Drink"
            },
            {
              "value": "picto-beer",
              "label": "Cerveja",
              "group": "Food & Drink"
            },
            {
              "value": "picto-target",
              "label": "Alvo",
              "group": "Other"
            },
            {
              "value": "picto-document",
              "label": "Documento",
              "group": "Other"
            },
            {
              "value": "picto-jewelry",
              "label": "Joia",
              "group": "Other"
            },
            {
              "value": "picto-music",
              "label": "Música",
              "group": "Other"
            },
            {
              "value": "picto-file",
              "label": "Arquivo",
              "group": "Other"
            },
            {
              "value": "picto-mask",
              "label": "Máscara",
              "group": "Other"
            },
            {
              "value": "picto-stop",
              "label": "Parar",
              "group": "Other"
            }
          ],
          "default": "none"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Ícone personalizado",
          "info": "240 x 240px .png recomendado"
        },
        {
          "type": "range",
          "id": "icon_width",
          "min": 24,
          "max": 120,
          "step": 4,
          "unit": "px",
          "label": "Largura do ícone",
          "default": 48
        },
        {
          "type": "text",
          "id": "title",
          "label": "Cabeçalho",
          "default": "Cabeçalho"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Conteúdo",
          "default": "<p>Use este texto para compartilhar informações sobre sua marca com seus clientes. Descreva um produto, compartilhe anúncios ou dê as boas-vindas aos clientes em sua loja.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Imagens e texto rolando",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "title": "Cabeçalho 1"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Cabeçalho 2"
          }
        }
      ]
    }
  ]
}
{% endschema %}
