{%- if section.settings.text != blank -%}
  {%- render 'section-spacing-collapsing' -%}

  <style>
    #shopify-section-{{ section.id }} {
      --section-spacing-inline: 0;
      --scrolling-text-font-size: {% if section.settings.text_size == 'xsmall' %}1.125rem{% elsif section.settings.text_size == 'small' %}2.5rem{% elsif section.settings.text_size == 'medium' %}3.75rem{% elsif section.settings.text_size == 'large' %}5rem{% else %}7.5rem{% endif %};
    }

    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --scrolling-text-font-size: {% if section.settings.text_size == 'xsmall' %}1.5rem{% elsif section.settings.text_size == 'small' %}3.75rem{% elsif section.settings.text_size == 'medium' %}5rem{% elsif section.settings.text_size == 'large' %}8.75rem{% else %}12.5rem{% endif %};
      }
    }
  </style>

  {%- if section.settings.text_size == 'xsmall' -%}
    {%- assign is_tight = true -%}
  {%- endif -%}

  <div {% render 'section-properties', tight: is_tight %}>
    {%- capture section_content -%}
      {%- for i in (1..5) -%}
        <span class="scrolling-text__text heading {% unless forloop.first %}motion-reduce:hidden{% endunless %}" {% unless forloop.first %}aria-hidden="true"{% endunless %}>
          {%- render 'styled-text', content: section.settings.text, gradient: section.settings.text_gradient, style: section.settings.text_style -%}
        </span>
      {%- endfor -%}
    {%- endcapture -%}

    <div class="scrolling-text {% if section.settings.scrolling_mode == 'scroll' %}scrolling-text--scroll{% else %}scrolling-text--auto{% endif %}">
      {%- if section.settings.scrolling_mode == 'scroll' -%}
        <visibility-progress class="scrolling-text__wrapper">
          {{- section_content -}}
        </visibility-progress>
      {%- else -%}
        <marquee-text scrolling-speed="{{ section.settings.scrolling_speed }}" class="scrolling-text__wrapper">
          {{- section_content -}}
        </marquee-text>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}
{% schema %}
{
  "name": "Texto Rolante",
  "class": "shopify-section--scrolling-text",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Largura completa",
      "default": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Texto",
      "default": "Texto da promoção"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Tamanho do texto",
      "options": [
        {
          "value": "xsmall",
          "label": "Extra pequeno"
        },
        {
          "value": "small",
          "label": "Pequeno"
        },
        {
          "value": "medium",
          "label": "Médio"
        },
        {
          "value": "large",
          "label": "Grande"
        },
        {
          "value": "xlarge",
          "label": "Extra grande"
        }
      ],
      "default": "large"
    },
    {
      "type": "select",
      "id": "text_style",
      "label": "Estilo do texto",
      "options": [
        {
          "value": "outline",
          "label": "Contorno"
        },
        {
          "value": "fill",
          "label": "Preenchido"
        }
      ],
      "default": "fill"
    },
    {
      "type": "select",
      "id": "scrolling_mode",
      "label": "Modo de rolagem",
      "options": [
        {
          "value": "auto",
          "label": "Automático"
        },
        {
          "value": "scroll",
          "label": "Ao rolar"
        }
      ],
      "default": "auto"
    },
    {
      "type": "range",
      "id": "scrolling_speed",
      "min": 3,
      "max": 20,
      "step": 1,
      "unit": "s",
      "label": "Velocidade da rolagem automática",
      "default": 10
    },
    {
      "type": "header",
      "content": "Cores",
      "info": "O gradiente substitui cores sólidas quando definido. Contorno de texto em gradiente e fundo em gradiente não podem ser combinados."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Fundo"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Gradiente de fundo"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Texto"
    },
    {
      "type": "color_background",
      "id": "text_gradient",
      "label": "Gradiente do texto"
    }
  ],
  "presets": [
    {
      "name": "Texto Rolante"
    }
  ]
}
{% endschema %}
